{
	"singleQuote": false,
	"jsxSingleQuote": false,
	"singleAttributePerLine": false,
	"tabWidth": 2,
	"semi": true,
	"useTabs": true,
	"printWidth": 80,
	"quoteProps": "consistent",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always"
}
